.main {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    width: 33.3%;
    padding: 15px;

    @include tablet {
      width: 50%;
    }

    @include phone-lg {
      width: 100%;
    }
  }
}